<!doctype html>
<html>
  <head>
    <!--Hey ho! While you are looking at my code in some AC office...-->
    <!--....guess what I'm doin'...-->
    <!--BEACH!!! =) Smile-->
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico" >
    <link rel="icon" type="image/gif" href="animated_favicon1.gif" >
    <title>Human-IST is on a vacation!</title>
    <!--Styles-->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/preview.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/folders.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.nailthumb/1.1/jquery.nailthumb.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/aesthetics.css?v=' | append: site.github.build_revision | relative_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.nailthumb/1.1/jquery.nailthumb.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/preview.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/thumbnails.js' | relative_url }}"></script>

  </head>
  <body>
      <div id="header">
        <nav>
          <h1>Human-IST on a Vacation</h1>
          <p>... Carpe diem ...</p>
        </nav>
      </div>

      <!--Initial thumbnails-->
      <div id="thumbnails" class="gallery"></div>
      <!--Automatic slideshow-->
      <div class="slides">
        <span id="closeSlide">X</span>
      </div>
      <!--Manual slideshow, if automatic is closed-->
      <div id="manualSlide">
        <img src="" id="slideshow_image">
        <input type="hidden" id="img_no" value="1">
      </div>
      <!--Buttons to manoeuvre around the manual slideshow-->
      <div class="help-buttons" tabindex="7">
        <input type="image" id="prev_image" src="public/previous.png">
        <input type="image" id="next_image" src="public/next.png">
        <input type="image" id="close_image" src="public/close.png">
      </div>
      <!--Folders-->
      <div id="wrap">
        <div class="container">
          <div class="folder">
            <span class="folder-title" id="cro">Croatia</span>
            <div class="folder-inside"></div>
          </div>
        </div>
        <div class="container">
          <div class="folder">
            <span class="folder-title" id="ro">Romania</span>
            <div class="folder-inside"></div>
          </div>

        </div>
        <div class="container">
          <div class="folder">
            <span class="folder-title" id="bih">Bosnia & Herzegovina</span>
            <div class="folder-inside"></div>
          </div>
        </div>
        <div class="container">
          <div class="folder">
            <span class="folder-title" id="mne">Montenegro</span>
            <div class="folder-inside"></div>
          </div>
        </div>
      </div>
      <!--Space for pics inside a folder-->
      <div id="cro-thumbnails" tabindex="1" class="country-thumbnails"></div>
      <div id="ro-thumbnails" tabindex="2" class="country-thumbnails"></div>
      <div id="bih-thumbnails" tabindex="3" class="country-thumbnails"></div>
      <div id="mne-thumbnails" tabindex="4" class="country-thumbnails"></div>
  </body>
</html>
