<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="chrome=1">-->
    <!--<title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>-->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.nailthumb/1.1/jquery.nailthumb.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/shadowbox/3.0.3/base-full/shadowbox.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


    <script src="https://cdn.jsdelivr.net/jquery.nailthumb/1.1/jquery.nailthumb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/shadowbox/3.0.3/shadowbox.js"></script>
    <script src="https://cdn.jsdelivr.net/shadowbox/3.0.3/base-full/shadowbox.js"></script>


    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>-->
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/freewall.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--Styles-->

    <style type="text/css" media="screen">
      .imgs {
        width: 150px;
        height: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
      }
      .nailthumb-container{
        margin:0 0 -5px;
      }
    </style>


    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery('.imgs').nailthumb({
          imageCustomFinder: function(el){
            var image = $('<img />').attr('src',el.attr('href').replace('/full/','/small/')).css('display','none');
            image.attr('alt',el.attr('title'));
            el.append(image);
            return image;
          },
          titleAttr:'alt'
        });
        Shadowbox.init();
      });
    </script>

  </head>
  <body>
      <div id="header">
        <nav>
          <h1>Human-IST on a Vacation</h1>
          <p>... Carpe diem ...</p>
        </nav>
      </div>

      <div id="thumbnails">
        <script>
          var msg = "Every summer is full of adventures. It is similar to every Human-IST project except for the beautiful beaches and refreshing crystal-clear water.";
          var enjoymsg = "Life is like a mirror, we get the best results when we smile at it. With a sea next to you, you cannot but smile.";
          var msgString = msg.split(" ");
          for (var i=1; i < 33; i++){
            var name = "public/images/welcome/" + i + '.jpg';
            if(msgString[i] !== undefined) {
              $('#thumbnails').append('<a class="imgs nailthumb-container" rel="shadowbox[gallery]" title="' + msgString[i - 1] + '" href=' + name + '></a>');
            }else {
              $('#thumbnails').append('<a class="imgs nailthumb-container" rel="shadowbox[gallery]" title="' + enjoymsg + '" href=' + name + '></a>');
            }
          }
        </script>
      </div>
  </body>
</html>
