<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Human-IST is on a vacation!</title>
    <!--Styles-->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/preview.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/folders.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.nailthumb/1.1/jquery.nailthumb.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/aesthetics.css?v=' | append: site.github.build_revision | relative_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.nailthumb/1.1/jquery.nailthumb.min.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/preview.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/thumbnails.js' | relative_url }}"></script>

  </head>
  <body>
      <div id="header">
        <nav>
          <h1>Human-IST on a Vacation</h1>
          <p>... Carpe diem ...</p>
        </nav>
      </div>

      <!--Initial thumbnails-->
      <div id="thumbnails" class="gallery">
        <script>
//          var msg = "Every summer is full of adventures. It is similar to every Human-IST project except for the beautiful beaches and refreshing crystal-clear water.";
//          var enjoymsg = "Life is like a mirror, we get the best results when we smile at it. With a sea next to you, you cannot but smile.";
//          var msgString = msg.split(" ");
//          var count = 56;
//          for (var images=[],i=0;i<count-1;++i) images[i]=i+1; // make an array with numbers(images name) in order
//
//          function shuffle(a) {
//            var j, x, i;
//            for (i = a.length; i; i--) {
//              j = Math.floor(Math.random() * i);
//              x = a[i - 1];
//              a[i - 1] = a[j];
//              a[j] = x;
//            }
//          }
//          shuffle(images); //randomize the order of images
//
//          for (var i=1; i < count; i++){
//            var name = "public/images/welcome/" + images[i-1] + '.jpg';
//            if(msgString[i-1] !== undefined) {
//              $('#thumbnails').append('<a class="imgs nailthumb-container gal_img" id="' + images[i-1] + '" title="' + msgString[i - 1] + '" href=' + name + '></a>');
//            }else {
//              $('#thumbnails').append('<a class="imgs nailthumb-container" title="' + enjoymsg + '" href=' + name + '></a>');
//            }
//          }
        </script>
      </div>
      <!--Automatic slideshow-->
      <div class="slides">
        <span id="closeSlide">X</span>
      </div>
      <!--Manual slideshow, if automatic is closed-->
      <div id="manualSlide">
        <img src="" id="slideshow_image" >
        <input type="image" id="prev_image" src="public/previous.png">
        <input type="image" id="next_image" src="public/next.png">
        <input type="image" id="close_image" src="public/close.png">
        <input type="hidden" id="img_no" value="1">
      </div>
      <!--Folders-->
      <div id="wrap">
        <div class="container">
          <div class="folder">
            <span class="folder-title" id="cro">Croatia</span>
            <div class="folder-inside"></div>
          </div>
        </div>
        <div class="container">
          <div class="folder">
            <span class="folder-title" id="ro">Romania</span>
            <div class="folder-inside"></div>
          </div>

        </div>
        <div class="container">
          <div class="folder">
            <span class="folder-title" id="bih">Bosnia & Herzegovina</span>
            <div class="folder-inside"></div>
          </div>
        </div>
        <div class="container">
          <div class="folder">
            <span class="folder-title" id="mne">Montenegro</span>
            <div class="folder-inside"></div>
          </div>
        </div>
      </div>
      <!--Space for pics inside a folder-->
      <div id="cro-thumbnails" tabindex="1" class="country-thumbnails"></div>
      <div id="ro-thumbnails" tabindex="2" class="country-thumbnails"></div>
      <div id="bih-thumbnails" tabindex="3" class="country-thumbnails"></div>
      <div id="mne-thumbnails" tabindex="4" class="country-thumbnails"></div>
  </body>
</html>
